body{
  display: flex;
  justify-content: center;
}

.row{
  display: flex;
  margin-bottom: 1px;
}

.row.odd {
  padding-left: 15px;
}

.col{
  height: 30px;
  width: 30px;
  margin-left: 1px;
  margin-right: 1px;
  background-color: #4b89d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.col > .label{
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: small;
  letter-spacing: -3px;
  color: white;
}

.last-row > .col{
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.used_col{
  background-color: #0000ee;
}

.hide{
  visibility: hidden;
}

.total-points{
  /* margin-top: 15px; */
}

.container{
  width: fit-content;
  position: relative;
}

.question-box{
  position: absolute;
  width: 300px;
  background-color: #021154;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 15px;
  padding: 2%;
  color: white;
}

.question-area{
  margin-bottom: 2%;
}

.hidden{
  visibility: hidden;
}

.highlighted > label {
  background: yellow;
  font-weight: bolder;
}

.info{
  border: 1px solid #021154;
  border-radius: 15px;
  margin-bottom: 5px;
  /* height: 25px; */
}
div.rounds{
  padding: 0 1%;
}

div.rounds > div[id^='round-']{
  height: 2px;
  width: 10%;
  display: block;
  position: relative;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-top: unset;
  border-right: unset;
}

div.rounds > div[id^='round-']:first-of-type{
  border-left: unset;
}

div.rounds > div[id^='round-'].correct{
  background-color: green;
}

div.rounds > div[id^='round-'].incorrect{
  background-color: red;
}

div.rounds > div[id^='round-'].ongoing{
  background-color: gold;
}


.rounds{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.points{
  padding: 0 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
